<p>
    <mat-toolbar color="primary" class=" mat-tool-bar-row">
        <span>Budget App</span>
        <a routerLink="/">
            <button mat-raised-button color="accent" aria-label="Example icon-button with share icon"
                style="margin-left: 10px">
                Income
            </button>
        </a>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar>
</p>